* {
    margin: 0;
    padding: 0;
}

.reservations-wrapper {
    background-color: white;
    height: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    border: 4px solid #14b5d0;
    padding: 2%;
    margin: 2%;

}

.reservation-name {
    color: #14b5d0;
}

.cancel-reservation-button {
    background-color: #14b5d0;
    border: 1px solid teal;
    color: white;
    margin-top: 2%;
    height: 30px;
    font-size: 1em;
}